<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Hurrumph" />
		<meta name="copyright" content="©2016 - 2021 by Gretchen Kisler" />
		<meta name="author" content="Gretchen Kisler" />
		<link rel="canonical" href="http://anxietydogcomic.com" />
		<title>{{ page.title }} | Anxiety Dog Comic</title>
		<!-- <link rel="stylesheet" href="/themes/anxietydog/theme.css" /> -->
		<!-- <link rel="stylesheet" href="/themes/anxietydog/tone.doggy.css" /> -->
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/system/favicons/apple-touch-icon-57x57.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/system/favicons/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/system/favicons/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/system/favicons/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/system/favicons/apple-touch-icon-60x60.png"/>
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/system/favicons/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/system/favicons/apple-touch-icon-76x76.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/system/favicons/apple-touch-icon-152x152.png"/>
		<link rel="shortcut icon" href="/assets/system/favicons/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="196x196" type="img/png" href="/assets/system/favicons/apple-touch-icon-196x196.png"/>
		<link rel="apple-touch-icon" sizes="160x160" type="img/png" href="/assets/system/favicons/apple-touch-icon-160x160.png"/>
		<link rel="apple-touch-icon" sizes="96x96" type="img/png" href="/assets/system/favicons/apple-touch-icon-96x96.png"/>
		<link rel="apple-touch-icon" sizes="16x16" type="img/png" href="/assets/system/favicons/apple-touch-icon-16x16.png"/>
		<link rel="apple-touch-icon" sizes="32x32" type="img/png" href="/assets/system/favicons/apple-touch-icon-32x32.png"/>
		<meta name="msapplication-TileColor" content="#6b4faf" />
		<meta name="msapplication-TileImage" content="/assets/system/favicons/mstile-144x144.png" />
		<meta name="msapplication-config" content="/assets/system/favicons/browserconfig.xml" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
                {% feed_meta %}
	</head>

	<body role="document">
		<header role="contentinfo" class="container">
			<img src="/assets/banner2.png" alt="logo for My Comic"/>
		</header>

		<!-- Back/next links -->
		<nav role="navigation" class="container">
			<ul class="button-group">
				<li class="active"><a href="/">Home</a></li><li><a href="/about">About</a></li><li><a href="/comic/archive">Archive</a></li><li><a href="/favorite-links">Links</a></li><li><a href="/store">Store</a></li>	</ul>
			<br class="clearfix"/>
		</nav>

		<main>
			{{ content }}
			<br class="clearfix"/>
		</main>
		<footer role="complementary" itemscope itemtype="http://schema.org/CreativeWork" class="container">
			<div>
				<span itemprop="copyrightYear">©2016 - 2021</span> by <span itemprop="author copyrightHolder">Gretchen Kisler</span> <i class="fa fa-paw"></i> Updates tuesdays<i class="fa fa-paw"></i> <a href="https://github.com/ikisler">Theme created by Isabeau Kisler</a>
			</div>
		</footer>
	</body>
</html>
